:root{
    --main-bg: hsl(233, 47%, 7%);
    --card-bg: hsl(244, 38%, 16%);
    --contraste: hsl(277, 64%, 61%);

    --heading-stats: hsl(0, 0%, 100%);
    --paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);

    --main-font: 'Lexend Deca', sans-serif;
    --base-font: 'Inter', sans-serif;
}